# Exercício da Aula - **Variáveis e Objetos** (Prática em Python)

In [ ]:
# Cria variável do tipo inteiro
x = 1
print(x)
# Cria variável do tipo float
y = 3.81
print(y)
# Cria variável do tipo string
text = "Yvanna"
text = 'Yvanna'
print(text)
# Cria variável do tipo lógico
value1 = True
value2 = False
print(value2)

1
3.81
Yvanna
False

In [ ]:
# Calculadora
a = 10
b = 20
c = 50

formula = (a + b) * c / 100
print(formula)

15.0

In [ ]:
# Exibir texto no console
print("Hello World!")
print(a)
print("Texto e duas variáveis: ", x, ",", y)

Hello World!
10
Texto e duas variáveis:  1 , 3.81

In [ ]:
# Verificar tipo
print(type(text))
print(type(c))

<class 'str'>
<class 'int'>

In [ ]:
# Entrada de Dados
print("Digite um valor: ")
i = input()
# Mostra tipo do input
print(type(i))

Digite um valor:
12
<class 'str'>

In [ ]:
# Entrada de valor com mensagem separada e junto
print("Digite um valor: ")
i = input()
# OU
input("Digite um valor: ")

Digite um valor:
200
Digite um valor: Ana

'Ana'

### **Conversão de Valores**

In [ ]:
# Para inteiro
var = input("Informe o valor: ")
print(type(var))
var = int(var)
print(type(var))

Informe o valor: 6
<class 'str'>
<class 'int'>

In [ ]:
# Para float
var = input("Informe o valor: ")
print(type(var))
var = int(var)
print(type(var))

Informe o valor: 10
<class 'str'>
<class 'int'>

In [ ]:
# Este texto é um comentário
fruit = "papaya" # a partir daqui é um comentário